.sidebar {
    background: #13CE66;
    grid-area: sidebar;
    padding: 20px;
}
.item a {
    color: #fff;
    font-size: 34px;
    line-height: 44px;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.friends {
    margin-top: 50px;
}

.friends h2 {
    font-size: 50px;
    color: #fff;
    font-weight: normal;
}

.friendsWrapper {
    display: flex;
    justify-content: space-between;
}

.friend {
    color: #fff;
}

.friend img {
    border-radius: 50%;
    width: 58px;
    height: 58px;
}