.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "header header header"
  "sidebar content content";
  grid-template-rows: 74px 1fr;
  grid-template-columns: 3fr 9fr;
  grid-gap: 10px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
