html,
body,
#root,
.app-wrapper {
  height: 100%;
}

.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "header header header"
  "sidebar content content";
  grid-template-rows: 74px 1fr;
  grid-template-columns: 3fr 9fr;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.app-wrapper-content {
  grid-area: content;
}
